/* Estilos para la Navbar */
.navbar {
  background-color: #0077cc;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-links li {
  font-size: 1rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}
