
/* Estilos para el Sidebar */
.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 15px;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  margin-bottom: 15px;
}

.sidebar-links a {
  color: white;
  text-decoration: none;
}

.sidebar-links a:hover {
  text-decoration: underline;
}

